<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Comfortaa|Lexend+Exa|Titillium+Web&display=swap" rel="stylesheet">  <title>Document</title>
</head>
<body>
  <section id="header">
    <img alt="" class="img-circle" src="/static/img/baby.svg">
    <p>Alexander Yaroslavskiy</p>
  </section>
  <section>
    <h1><span>About Me</span></h1>
    <p>
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quos eius dignissimos, quo minus animi quis saepe soluta, accusamus, deleniti ea neque fuga odio dolorem repellendus enim nobis quaerat nulla!</span>
      <span>Autem dolorem iure nisi fuga commodi perferendis recusandae id nulla facere voluptates ipsa adipisci blanditiis suscipit eligendi dicta voluptatem omnis, eum alias! Rerum, nulla ducimus deleniti quas officiis! Fugiat, totam!</span>
      <span>Accusamus dignissimos minima nostrum consequuntur. Esse error quae nostrum temporibus, blanditiis libero dignissimos optio et repellat labore explicabo excepturi facere eligendi iusto quidem consequatur perspiciatis nemo doloremque aperiam obcaecati! Aliquam!</span>
    </p>
    <p class="quote">"Lololololo"</p>
  </section>
  <section>
    <h1><span>My Skills</span></h1>
    <ul>
      <li>HTML5 <br />
        <progress min="0" max="100" value="80"></progress>
      </li>
      <li>CSS3 <br />
        <progress min="0" max="100" value="80"></progress>
      <li>JavaScript <br />
        <progress min="0" max="100" value="90"></progress>
      </li>
      <li>Python3 <br />
        <progress min="0" max="100" value="20"></progress>
      </li>
    </ul>
  </section>
  <section>
  <a href="/payment-data">Пожертвования</a>
  <a href="#">Мои проекты</a>
  <a href="#">Увлечения</a>
</section>
  <section id="form">
  	<form>

		<label for="fname" style="font-size:20px">First Name</label>
    <input type="text" id="firstname" name="firstname" placeholder="Your name.." lang="en" required>

    <label for="phone" style="font-size:20px">Phone number</label>
    <input type="text" id="phone" name="phone" placeholder="Your phone number.." required>

		<label for="email" style="font-size:20px">e-mail</label>
		<input type="e-mail" id="e-mail" name="e-mail" placeholder="Your e-mail.." lang="en" required>



    <button type="submit" id="submit">Submit!</button>

  </form>
  </section>
  <section id="helloMsg">
    <h1>Привет</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam itaque, officia accusamus ad sed aut! Esse fugiat incidunt earum alias velit quis odit odio consequuntur, in ab dolore, magni, quas!</p>
  </section>
  <script src="static/script/script.js"></script>
</body>
</html>
