
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
    <title>Document</title>
    <style>
            .layer1 {
             background-color: #; /* Цвет фона */
            }
            .layer2 {
             margin-left: 20%; /* Отступ слева */
             margin-right: 25%; /* Отступ справа */
             background-color: #; /* Цвет фона */
             padding: 10px; /* Поля вокруг текста */
            }
         </style>
</head>
<body>
    
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#"><font size="50">Пофикси меня</font></a>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="#">Написать</a>
                        <a class="nav-item nav-link" href="problems">Проблемы</a>
                        <a class="nav-item nav-link" href="me">Мои заявки</a>
                        </div>
                        <a href="/logout" type="submit"  class="btn btn-outline-secondary">Выход</a>
                    </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>

            <div class="layer1">
                    <div class="layer2">
                        <div class="card">
                
                            <div class="card-body">
                
                                <div class="container-fluid"><h1> Добро пожаловать! </h1></div>
                            </div>
                        </div>
                
                        <form method="POST">
                            <table>{% csrf_token %}
                                <label for="exampleInput">Краткое описание:</label>
                                <input id="exampleInput" class="form-control" aria-describedby="emaildHel"
                                       placeholder="Нет интернета" name="name">
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Жалоба:</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="13" name="text"></textarea>
                                </div>
                            </table>
                            <input value="Добавить жалобу" type="submit" class="btn btn-primary" name="submit">
                        </form>
                    </div>
                </div>
</body>
</html>