
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Регистрация</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
    <style>
            .layer1 {
             background-color: #; /* Цвет фона */
            }
            .layer2 {
             margin-left: 20%; /* Отступ слева */
             margin-right: 25%; /* Отступ справа */
             background-color: #; /* Цвет фона */
             padding: 10px; /* Поля вокруг текста */
            }
         </style>
</head>
<body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#"><font size="50">Пофикси меня</font></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>

    
    <div class="layer1" >
            <div class="layer2">
                <div class="card">
                        <div class="card-body">
                                <h1>Регистрация</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label>Логин:</label>
    <input class='form-control'type="text" name="login"/>
    </div>
    <div class="form-group">
        <label>Email:</label>
    <input type="email" class='form-control'name="email"/>
    </div>
    <div class="form-group">
        <label>Пароль:</label>
    <input type="password"class='form-control'' name="password"/>
    </div>
    <button type="submit" class="btn btn-primary">Регистрация</button>
    <a href="/login" class="btn btn-success">Вход</a>
</form>
</div>
</div>
</div>
</div>

</body>
</html>